# {{artifactId}}

## Requirements

Building the API client library requires [Maven](https://maven.apache.org/) to be installed.

## Installation & Usage

To install the API client library to your local Maven repository, simply execute:

```shell
mvn install
```

To deploy it to a remote Maven repository instead, configure the settings of the repository and execute:

```shell
mvn deploy
```

Refer to the [official documentation](https://maven.apache.org/plugins/maven-deploy-plugin/usage.html) for more information.

After the client library is installed/deployed, you can use it in your Maven project by adding the following to your *pom.xml*:

```xml
<dependency>
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}</artifactId>
    <version>{{artifactVersion}}</version>
    <scope>compile</scope>
</dependency>

```
## Creación del cliente


Descargar https://nexus.focaltec.com/repository/maven-releases/io/swagger/codegen/v3/swagger-codegen-cli/3.0.58-edited/swagger-codegen-cli-3.0.58-edited.jar

Ejecutar:

```
java -jar swagger-codegen-cli-3.0.58-edited.jar generate -l java -o ~/Downloads/pdp-integration-api-client -i https://api-dev.portaldeproveedores.mx/v3/api-docs/integration-api --api-package com.focaltec.pdp.api --model-package com.focaltec.pdp.api.model --invoker-package com.focaltec.pdp.api.invoker --group-id com.focaltec.pdp --artifact-id pdp-integration-api-client --artifact-version 1.0.1 --library feign -DdateLibrary=joda -Djava11=true -DnotNullJacksonAnnotation=true -DhideGenerationTimestamp=true 

```
Reemplazar la carpeta pdp-integration-api-client dentro del repositorio local por ~/Downloads/pdp-integration-api-client para actualizar los archivos del cliente generado.

Actualizar el proyecto en el eclipse (Seleccionar proyecto --> click derecho --> Refresh)

Actualizar el proyecto de maven en el eclipse (Seleccionar proyecto --> click derecho --> Maven --> Update Project --> Seleccionar el proyecto --> Ok)

Organizar imports (Seleccionar proyecto --> click derecho --> Source --> Organize Imports)

Formatear clases (Seleccionar proyecto --> click derecho --> Source --> Format)

Code cleanup (Seleccionar proyecto --> click derecho --> Source --> Clean Up --> Finish)

Revisar si hay errores de compilación y corregirlos en caso de haber. Por ahora se tiene identificada la clase com.focaltec.pdp.api.model.SpecificReceptionRuleType que hay que cambiar el parámetro final List<InnerEnum> paymentsItem por final List<String> paymentsItem y la asignación del mapa this.payments = new HashMap<String, InnerEnum<String>>(); por this.payments = new HashMap<>();

Revisar que no hayan cambios sustanciales en ningun archivo mas que los esperados en el sourcetree... hay que tener cuidado que no se muevan de posición los parámetros de los métodos de las apis.

## Recommendation

It's recommended to create an instance of `ApiClient` per thread in a multithreaded environment to avoid any potential issues.

## Author

{{#apiInfo}}{{#apis}}{{^hasMore}}{{infoEmail}}
{{/hasMore}}{{/apis}}{{/apiInfo}}

